@page "/admin"

<h1> Admin </h1>

<div class="row">
    <div class="col-sm-8">
        <form>
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-3 col-form-label">License Number</label>
                <div class="col-sm-5">
                    <input 
                        type="input" 
                        class="form-control" 
                        id="colFormLabel" 
                        placeholder="Enter License Number"
                        value="6901005915" />
                </div>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>