@inject HttpClient Http

@if (dogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Dog ID</th>
                <th>Dog Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
            }
            @foreach (var dog in dogs)
            {
                <tr>
                    <th scope="row">@(count++)</th>
                    <td>@dog.DogId</td>
                    <td>@dog.DogName</td>
                    <td>
                        <a href="/forms/altered/@dog.DogId">
                            <button class="btn btn-primary">Spay/Neuter</button> 
                        </a>
                        <a href="/forms/rabies/@dog.DogId">
                            <button class="btn btn-info">Rabies</button> 
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dog[] dogs;

    protected override async Task OnInitializedAsync()
    {
        dogs = await Http.GetJsonAsync<Dog[]>("sample-data/dogs.json");
    }

    public class Dog
    {
        public int DogId { get; set; }

        public string DogName { get; set; }
    }
}