<h1>Write to Console</h1>
 
<p>Click the button to print to the JavaScript console using C#</p>
 
<button class="btn btn-primary" @onclick="WriteToConsole">Click me</button>

@code {
 
    void WriteToConsole()
    {
        Console.WriteLine("Writing to javascript console using C#");
    }
}